:root {
  /*=====color====*/
  --dark-color: #212121;
  --main-text-color: #757575;
  --social-grey-color: #afb1b8;
  --light-color: #fff;
  --lighter-color: #f5f4fa;
  --accent-color: #2196f3;
  --active-accent-color: #188ce8;
  --beckground-color: #2f303a;
  --text-color: #000000;
  --header-border-color: #ececec;
  /*====animation-speed====*/
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*=====with transparency=====*/
  --hero-box-shadow: rgba(0, 0, 0, 0.25);
  --overlay-bg-gradient: rgba(47, 48, 58, 0.4);
  --hero-btn-box-shadow: rgba(0, 0, 0, 0.15);
  --work-imgtext-bg: rgba(47, 48, 58, 0.8);
  --about-item-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --footer-soc-link: rgba(255, 255, 255, 0.1);
  --footer-grey-link: rgba(255, 255, 255, 0.6);
  --portfolio-btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --projects-transform-color: rgba(33, 150, 243, 0.9);
  --projects-transform-text-color: rgba(255, 255, 255, 1);
  --projects-link-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --backdrop-bg-shadow: rgba(0, 0, 0, 0.2);
  --modalbox-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-close-border-color: rgba(0, 0, 0, 0.1);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --input-footer-color: rgba(255, 255, 255, 0.6);
  --input-footer-border: rgba(255, 255, 255, 0.3);
  --form-input-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --card-item: 4;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.item {
  margin-top: 30px;
  margin-left: 30px;
  width: calc(100% / var(--card-item) - 30px);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 52px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__link {
  width: 44px;
  height: 44px;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--social-grey-color);
  transition: color var(--transition), background-color var(--transition);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
}

.backdrop {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-bg-shadow);
  z-index: 2;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--light-color);
  box-shadow: var(--modalbox-shadow);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--modal-close-border-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--accent-color);
  outline: none;
}

.modal-close:hover, .modal-close:focus {
  fill: currentColor;
}

.is-hidden {
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 30px;
}

.form-wrapper {
  margin-bottom: 20px;
}

.form-fild:not(:last-child) {
  margin-bottom: 10px;
}

.input-wrapp {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: var(--transition);
  cursor: pointer;
}

.form-input::placeholder {
  color: var(--placeholder-color);
}

.form-input:hover, .form-input:focus {
  border: 1px solid var(--active-accent-color);
  box-shadow: var(--form-input-shadow);
}

.form-input:focus + .input-icon,
.form-input:hover + .input-icon {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition);
}

.form-comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-comment::placeholder {
  color: var(--placeholder-color);
}

.input-text {
  font-size: 12px;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 5px;
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
}

.check-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid var(--dark-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.policy-icon {
  fill: transparent;
}

.policy-check:checked + .check-text.check-wrap {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.policy-check:checked + .check-text.policy-icon {
  fill: var(--light-color);
}

.policy-check:hover + .check-text .check-wrap,
.policy-check:focus + .check-text .check-wrap {
  border: 2px solid var(--accent-color);
}

.conditions {
  margin-left: 5px;
  color: var(--accent-color);
}

.modal-btn {
  padding: 10px 55px;
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header .logo {
  margin-right: 93px;
}

.header__logo {
  color: var(--text-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.header__container {
  display: flex;
}

.site-nav__list {
  color: var(--dark-color);
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
}

.contact__item {
  margin-right: 50px;
}

.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color var(--transition);
  position: relative;
}

.site-nav__link:hover, .site-nav__link:focus,
.site-nav__link .current-link {
  color: var(--accent-color);
}

.header-container-line {
  position: relative;
}

.current-link::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--active-accent-color);
  border-radius: 2px;
  bottom: -1px;
}

.contakt__item {
  margin-left: 30px;
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact__icon:hover, .contact__icon:focus {
  color: var(--accent-color);
}

.hero__section {
  display: block;
  background-color: var(--beckground-color);
  padding-top: 200px;
  padding-bottom: 200px;
  box-shadow: 0px 4px 4px var(--hero-box-shadow);
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(var(--overlay-bg-gradient), var(--overlay-bg-gradient)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background: var(--accent-color);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px var(--hero-btn-box-shadow);
  transition: background-color var(--transition);
}

.hero__btn:active, .hero__btn:hover {
  background-color: var(--active-accent-color);
}

.features {
  padding-bottom: 0px;
}

.features-list__item {
  --card-item: 4;
}

.features-group__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 10px;
}

.features-group__list {
  display: flex;
  justify-content: center;
}

.features-group__item {
  height: 120px;
  background-color: var(--lighter-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.work-list__item {
  --card-item: 3;
}

.work-cont__img {
  position: relative;
}

.work-cont__img-text {
  position: absolute;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  background-color: var(--work-imgtext-bg);
  width: 100%;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.about {
  background: var(--lighter-color);
  text-align: center;
}

.about-item {
  background-color: var(--light-color);
  box-shadow: var(--about-item-shadow);
}

.about-item__title {
  font-weight: 500;
  color: var(--dark-color);
  margin-bottom: 10px;
}

.about-item__after-title {
  margin-bottom: 16px;
}

.about-item__after-title,
.about-item__title {
  font-size: 16px;
  line-height: 1.18;
}

.about-wrapper {
  padding: 30px;
}

.regular-customer__link {
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-grey-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 16px 32px;
  transition: color var(--transition);
  outline: none;
}

.regular-customer__link:hover, .regular-customer__link:focus {
  color: var(--accent-color);
}

.regular-customer__icon {
  fill: currentColor;
}

.regular-customer__icon:hover, .regular-customer__icon:focus {
  color: var(--accent-color);
}

.regular-customer__item {
  --card-item: 6;
}

.footer {
  background-color: var(--beckground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer-list__link {
  color: var(--footer-grey-link);
  transition: color 250ms var(--transition);
}

.footer-list__link:hover, .footer-list__link:focus {
  color: var(--accent-color);
}

.footer-list__link [target='_blank'] {
  color: var(--light-color);
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  color: var(--light-color);
}

.footer-wrapper:not(:last-child) {
  margin-right: 70px;
}

.footer-wrapper:not(:last-child) {
  margin-left: auto;
}

/*-------------*/
.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-social-container {
  margin-left: 70px;
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--light-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer .social__link {
  background-color: var(--footer-soc-link);
  color: var(--light-color);
  transition: background-color var(--transition);
}

.footer .social__link:hover, .footer .social__link:focus {
  background-color: var(--accent-color);
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--input-footer-border);
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  color: var(--input-footer-color);
  margin-right: 12px;
}

.subscribe__input:hover, .subscribe__input:focus {
  border-color: var(--active-accent-color);
}

.subscribe__input::placeholder {
  color: var(--input-footer-color);
}

.subscribe-btn:active,
.subscribe-btn:hover {
  background-color: var(--active-accent-color);
}

.submit-icon {
  margin-left: 10px;
}

.subscribe {
  display: flex;
  align-items: center;
}

.portfolio-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--dark-color);
  background-color: var(--lighter-color);
  border: none;
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
}

.portfolio-button:hover, .portfolio-button:focus,
.portfolio-button .portfolio-current-button {
  color: var(--light-color);
  background-color: var(--accent-color);
  box-shadow: var(--portfolio-btn-shadow);
}

.portfolio-button-item:not(:last-of-type) {
  margin-right: 8px;
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-item {
  --card-item: 3;
}

.projects-link:hover .projects-item-text,
.projects-link:focus .projects-item-text {
  transform: translateY(0%);
}

.projects-item-wrap {
  position: relative;
  overflow: hidden;
}

.projects-item-text {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--projects-transform-color);
  color: var(--projects-transform-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
  margin-bottom: 4px;
}

.projects-after-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.projects-wrapper {
  border: 1px solid var(--lighter-color);
  padding: 20px 24px;
}

.projects-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition);
}

.projects-link:hover, .projects-link:focus {
  box-shadow: var(--projects-link-shadow);
}
/*# sourceMappingURL=main.css.map */