.features {
  padding-bottom: 0px;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.features-list__item {
  @media screen and (min-width: 480px) {
    --card-item: 1;
  }
  @media screen and (min-width: 768px) {
    --card-item: 2;
  }
  @media screen and (min-width: 1200px) {
    --card-item: 4;
  }
}

.features-group__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  margin-bottom: 10px;
}
.features-group__list {
  display: flex;
  justify-content: center;
}

.features-group__item {
  height: 120px;
  background-color: var(--lighter-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
