.footer {
  background-color: var(--beckground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer-list__link {
  color: var(--footer-grey-link);
  transition: color 250ms var(--transition);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-list__link [target='_blank'] {
  color: var(--light-color);
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  color: var(--light-color);
}

.footer-wrapper:not(:last-child) {
  margin-right: 70px;
  & {
    margin-left: auto;
  }
}

/*-------------*/
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer-social-container {
  margin-left: 70px;
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--light-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer .social__link {
  background-color: var(--footer-soc-link);
  color: var(--light-color);
  transition: background-color var(--transition);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--input-footer-border);
  padding-left: 16px;
  background-color: transparent;
  outline: none;
  color: var(--input-footer-color);
  margin-right: 12px;
  &:hover,
  &:focus {
    border-color: var(--active-accent-color);
  }
  &::placeholder {
    color: var(--input-footer-color);
  }
}

.subscribe-btn:active,
.subscribe-btn:hover {
  background-color: var(--active-accent-color);
}

.submit-icon {
  margin-left: 10px;
}

.subscribe {
  display: flex;
  align-items: center;
}
