.hero__section {
  display: block;
  background-color: var(--beckground-color);
  box-shadow: 0px 4px 4px var(--hero-box-shadow);
  padding: 118px 60px;
  @include tab {
    padding: 118px 204px;
  }
  @include desc {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__wrapper {
  padding: 0;
  width: 100%;
}

.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(var(--overlay-bg-gradient), var(--overlay-bg-gradient)),
    url(../images/hero-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(var(--overlay-bg-gradient), var(--overlay-bg-gradient)),
      url(../images/hero-bg-mob-2x.jpg);
  }
  @include tab {
    background-image: linear-gradient(var(--overlay-bg-gradient), var(--overlay-bg-gradient)),
      url(../images/hero-bg-tab-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(var(--overlay-bg-gradient), var(--overlay-bg-gradient)),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  @include desc {
    background-image: linear-gradient(var(--overlay-bg-gradient), var(--overlay-bg-gradient)),
      url(../images/hero-bg-desk-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(var(--overlay-bg-gradient), var(--overlay-bg-gradient)),
        url(../images/hero-bg-desk-2x.jpg);
    }
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include desc {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background: var(--accent-color);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px var(--hero-btn-box-shadow);
  transition: background-color var(--transition);
  &:active,
  &:hover {
    background-color: var(--active-accent-color);
  }
}
