.portfolio-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--dark-color);
  background-color: var(--lighter-color);
  border: none;
  transition: color var(--transition), background-color var(--transition),
    box-shadow var(--transition);
  &:hover,
  &:focus,
  .portfolio-current-button {
    color: var(--light-color);
    background-color: var(--accent-color);
    box-shadow: var(--portfolio-btn-shadow);
  }
}

.portfolio-button-item:not(:last-of-type) {
  margin-right: 8px;
}

.portfolio-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
