.projects-item {
  --card-item: 3;
}

.projects-link:hover .projects-item-text,
.projects-link:focus .projects-item-text {
  transform: translateY(0%);
}
.projects-item-wrap {
  position: relative;
  overflow: hidden;
}

.projects-item-text {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--projects-transform-color);
  color: var(--projects-transform-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms;
}
.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
  margin-bottom: 4px;
}
.projects-after-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.projects-wrapper {
  border: 1px solid var(--lighter-color);
  padding: 20px 24px;
}

.projects-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition);
  &:hover,
  &:focus {
    box-shadow: var(--projects-link-shadow);
  }
}
